---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
  padding-top: 70px;
}

table {
  margin-bottom: 10px;
}

.navbar-inverse {
  background-color: #58087D;
  border-color: #58087D;
  color: #000000;
}
.navbar-inverse .navbar-nav > li > a {
    color:#ffffff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-inverse .navbar-brand {
    color:#eeeeee;
}
